<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
    integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

<div>
    <header>
        <nav class="navbar has-background-dark is-dark" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <strong>JSON Formost</strong>
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item is-active" href="/bulma">
                        Bulma
                    </a>
                    <a class="navbar-item" href="/bootstrap4">
                        Bootstrap 4
                    </a>
                </div>

            </div>
        </nav>
    </header>

    <div class="section columns">

        <main class="column is-8 is-offset-2">
            <div class="content-container">
                <div class="columns">
                    <div class="column">

                        <p>
                            <a href="https://bulma.io">Visit Bulma.io</a>
                        </p>

                        <!-- <form [formGroup]="demoForm" (ngSubmit)="onSubmit()"> -->
                        <div class="card item-editor">
                            <header class="card-header">
                                <p class="card-header-title is-size-2">
                                    Bulma Demo Form
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="tabs">
                                    <ul>
                                        <li [class.is-active]="tab=='form'"><a (click)="showTab('form')">Form</a></li>
                                        <li [class.is-active]="tab=='schema'"><a (click)="showTab('schema')">Schema</a>
                                        </li>
                                        <li [class.is-active]="tab=='data'"><a (click)="showTab('data')">Data</a></li>
                                    </ul>
                                </div>
                                <div class="content" *ngIf="tab=='form'">
                                    <form [formGroup]="demoForm" (ngSubmit)="onSubmit()">
                                        <formost-form [schema]="schemaObject" formControlName="content"></formost-form>

                                        <div class="columns">
                                            <div class="column is-12">
                                                <div class="field is-grouped">
                                                    <div class="control">
                                                        <button type="submit" class="button is-link" [disabled]="!demoForm.valid">Submit</button>
                                                    </div>
                                                    <div class="control">
                                                        <button type="reset"
                                                            class="button is-link is-light">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="content" *ngIf="tab=='schema'">
                                    <pre><code>{{ schemaObject | json }}</code></pre>
                                </div>
                                <div class="content" *ngIf="tab=='data'">
                                    <pre><code>{{ demoForm.value | json }}</code></pre>
                                </div>
                            </div>
                        </div>
                        <!-- </form> -->

                    </div>
                </div>
            </div>
        </main>
    </div>
</div>